@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --color-white: #ffffff;
  --color-bg: #f2eae2;
  --color-highlight: #3d8168;
  --color-text-pri: #6c7289;
  --color-text-secondary: #1c232b;
  --color-hightlight-active: #1a4032;

  --radius-l: 0.625rem;
  --radius-m: 0.5rem;

  --text-l: 2rem;
  --text-base: 0.875rem;
  --text-s: 0.75rem;

  --text-space-base: 0.313rem;

  --font-bold: 900;
  --font-semibold: 700;
  --font-base: 500;

  --line-height-l: 2rem;
  --line-height-base: 1.5rem;
  --line-height-s: 0.875rem;

  --gap-xxxl: 2rem;
  --gap-xxl: 1.875rem;
  --gap-xl: 1.75rem;
  --gap-l: 1.5rem;
  --gap-m: 1rem;
  --gap-xs: 0.75rem;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--text-base);
  line-height: var(--line-height-base);
  padding: var(--gap-xl) var(--gap-m);
}

.card {
  max-width: 37.5rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-l);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-img {
  content: url("./images/image-product-mobile.jpg");
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  max-width: 100%;
  max-height: 15rem;
}

.card-content {
  max-width: 18.75rem;
  padding: var(--gap-l);
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-base);
  font-size: var(--text-s);
  line-height: var(--line-height-s);
  letter-spacing: var(--text-space-base);
  color: var(--color-text-pri);
  margin-bottom: var(--gap-xs);
}

.title {
  font-family: "Fraunces", sans-serif;
  font-weight: var(--font-semibold);
  font-size: var(--text-l);
  line-height: var(--line-height-l);
  color: var(--color-text-secondary);
  margin-bottom: var(--gap-m);
  font-variation-settings: "opsz" 60;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-base);
  font-size: var(--font-base);
  line-height: var(--line-height-base);
  color: var(--color-text-pri);
}

.price {
  display: flex;
  margin-top: var(--gap-l);
  margin-bottom: var(--gap-l);
  gap: var(--gap-l);
}

.price-sale {
  font-family: "Fraunces", sans-serif;
  font-weight: var(--font-semibold);
  font-size: var(--text-l);
  line-height: var(--line-height-l);
  color: var(--color-highlight);
}

.price-original {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-base);
  font-size: var(--font-base);
  line-height: var(--line-height-base);
  color: var(--color-text-pri);
  text-decoration-line: line-through;
}

.action {
  width: 100%;
  height: 3rem;
  background-color: var(--color-highlight);
  border-radius: var(--radius-m);
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-size: var(--text-base);
  font-weight: var(--font-bold);
  transition: color 0.5s ease;
  padding-block: var(--gap-m);
  display: flex;
  justify-content: center;
}

.action:hover,
.action:active {
  background-color: var(--color-hightlight-active);
}

.action p {
  margin-left: var(--gap-xs);
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card-img {
    max-width: 18.75rem;
    max-height: 100%;
    content: url("./images/image-product-desktop.jpg");
    border-radius: var(--radius-l) 0 0 var(--radius-l);
  }

  .card-content {
    padding: var(--gap-xxxl);
  }

  .subtitle {
    margin-bottom: var(--gap-l);
  }

  .title {
    margin-bottom: var(--gap-l);
  }

  .price {
    margin-top: var(--gap-xxxl);
    margin-bottom: var(--gap-xxxl);
  }
}
